<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex | Home</title>
</head>

<body>
    <nav>
        <img src="/img/logo/logo-pokedex.png" class="img-fluid gif" alt="logo pokedex">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
        </ul>
    </nav>

    <header>
        <article>
            <h1> Pokedex </h1>
        </article>        
    </header>
    
    <section id="pokemon">
        <% pokermonList.forEach(item => { %>
            <a class="card" href="/detalhes/<%= item.numero %>">
                <img src="<%= item.imagem %>" alt="">
                <h2><%= item.nome %></h2>
                <h4><%= item.tipo %></h4>
            </a>
        <% }) %> 
    </section>
    
    <script src="/js/script.js"></script>
    
</body>

</html>